.output {
  display: none;
}

body {
  background-image: url(../img/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background: rgba(249, 232, 236, 0.8);
  padding: 15px;
  margin-top: 40px;
}

h1, h2 {
  font-family: 'Pompiere', cursive;
}

h1 {
  font-size: 90px;
  text-align: center;
  text-shadow: 5px;
  text-decoration: underline;
}

#info {
  text-align: center;
  font-family: 'Pompiere', cursive;
  font-size: 25px;
}

p {
  font-family: 'Pompiere', cursive;
  font-size: 20px;
}

#pizzaForm {
  font-family: 'Pompiere', cursive;
  font-size: 20px;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  border-width: thick;
}

#price {
  font-size: 20px;
  font-family: 'Shrikhand';
}

#pizza-gif {
  width: 60%;
  height: 60%;
  border-width: thin;
}
